<!doctype html>
<html lang="en-us">
  <head>
    <title>CMS Application</title>
    <link rel="icon" href="/images/favicon.ico">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css" type="text/css"> 
  </head>
  <body>
    <header>
    </header>
    
    <% if session[:message] %>
      <div class="flash">
        <%= session.delete(:message) %>
      </div >
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>