<h3>Sign In</h3>

<form class="block" method="post" action="/users/signin">
  <p>Username: <input name="username" id="username" value="" ></p>
  <p>Password: <input name="password" id="password" value="" ></p>
  <p><button type="submit">Sign In</button></p>
</form>